<h1>Enter your Scrabble word to find out its score!</h1>
<form action='/scrabble_score' method='get'>
  <div class="form-group">
    <label for="word">A name</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Get the Score!</button>
</form>
